
.navbar{
    background:#e8e8e8;
   }
   .nav-link , .navbar-brand{
    color: #000;
    cursor: pointer;
   }
   .nav-link{
    margin-right: 1em !important;
   }
   .nav-link:hover{
    background: #f4f4f4;
    color: #000;
   }
   .navbar-collapse{
    justify-content: flex-end;
   }
   .navbar-toggler{
     background:#243777 !important;
   }
   .thead{
    background-color: #243777;
    color: white;
   }

   .list-group a:first-child  {
    background:red !important;
    border:2px solid yellow;
    }
    .list-group a{
    border:2px solid yellow;
    }
    .button {color:#243777;}